.todo_wrap {
  background-color: rgb(227, 232, 236);
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}

.emptyText {
  background-color: rgb(247, 247, 248);
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.74);
  align-items: center;
  font-size: large;
  padding: 10px;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
}
