.wrapper {
	position: fixed;
    top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal_container {
	background-color:  rgb(238, 234, 234);
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem;
	border-radius: 8px;
	position: relative;
}

.formTitle { 
	color: rgb(104, 103, 103);
	text-align: left;
	font-size: 1.5rem;
	font-weight: 600;
	margin-bottom: 2rem;
	text-transform: capitalize;
	width: 90%;
	padding: 0;
	margin:10px;
}
.todo_form {
	width: 100%;
}

label {
	font-size: 1.2rem;
	padding-top: 20px;
	padding-right: 10px;
}
input, select {
	margin-top: 0.5rem;
	margin-bottom: 2rem;
	width: 100%;
	padding: 0.5rem;
	border-color:black;
	border-radius: 6px;
	background-color: white;
	font-size: 1rem;
}

.buttonContainer {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 2rem;
	gap: 1rem;
}

.confirmation_text {
   font-size: large;
   text-align:left;
   width:100%;
}